@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  height: 100%;
}

.container{
  padding: 1rem 1.5rem;
}

/* Styles for Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 50; /* Ensure it appears above other content */
    background-color: #1a202c; /* Match your Navbar background */
}

/* Styles for FiltersSection */
.filters-section {
    position: sticky;
    top: 4rem; /* Adjust to ensure it sits below the Navbar */
    z-index: 40;
    background-color: white;
    padding: 0.2rem 1rem; /* Optional padding */
    box-shadow: 0 1px 4px rgba(132, 132, 132, 0.1); /* Optional shadow for better visibility */
}


.slider-container {
  overflow: visible;
}



/* @keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
} */


/* Optional additional styles */
.gallery-item {
  border-radius: 8px; /* Rounded corners for images */
}

.gallery-item img {
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* .resize-image{
  height: 260px;
  width: 300px;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
} */

.aspect-ratio-box {
    position: relative;
    width: 100%;
    padding-top: 90%; /* Aspect ratio: height / width * 100 (for 3:2 ratio) */
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.aspect-ratio-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures full visibility of the image */
}


